<!doctype html>
<!--[if IE 10]> <html lang="en-GB" class="no-js ie10"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!--><html lang="en-GB" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'layouts/scaffold/head.html' %}
</head>

<body>
	<div class="ui__container" id="uicontainer">
		{% block header %}
			{% include 'layouts/headers/default.html' %}
		{% endblock %}
		<div class="ui__canvas">
			{% block precontent %}
			{% endblock %}

			{% block content %}
			{% endblock %}

			{% block postcontent %}
			{% endblock %}
		</div>
		{% include 'layouts/navigation/primary.html' %}
		{% block footer %}
			{% include 'layouts/footers/default.html' %}
		{% endblock %}
	</div>
</body>

<script>

// Menu
var hiraku = new Hiraku('.offcanvas-right', {
  btn: "#offcanvas-btn-right",
	closeBtn: "#offcanvas-btn-close",
  //fixedHeader: "#header",
  direction: "right",
	width: "320px",
  breakpoint: -1
});

// Animation transitions
$(document).ready(function() {
  $(".ui__container").animsition({
    inClass: 'fade-in',
    outClass: 'fade-out',
    inDuration: 2000,
    outDuration: 6000,
    linkElement: '.animsition_link',
    loading: true,
    loadingParentElement: 'body', //animsition wrapper element
    loadingClass: 'animsition_loading',
    loadingInner: '', // e.g '<img src="loading.svg" />'
    timeout: false,
    timeoutCountdown: 5000,
    onLoadEvent: true,
    browser: [ 'animation-duration', '-webkit-animation-duration'],
    // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
    // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
    overlay : false,
    overlayClass : 'animsition_overlay-slide',
    overlayParentElement : 'body',
    transition: function(url){ window.location.href = url; }
  });
});

</script>
{% block script %}
{% endblock %}
</html>
