
// Menu slide in
@keyframes anim-slideIn {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0%);
  }
}

// Color blend
@keyframes anim-colorBlend {
  0% {
    fill: $cAbernathy;
  }
  33% {
    fill: lighten($cLowe, 25%);
  }
  66% {
    fill: $cDelos;
  }
}

// Picture slide in
@keyframes anim-pictureSlideL {
  0% {
    opacity: 0;
  }
  45% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes anim-pictureSlideR {
  0% {
    opacity: 0;
  }
  45% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// ---------------------------------
// HOVERS
// ---------------------------------

// Icons pop
@keyframes hvr-icon-pop {
  50% {
    transform: scale(1.25) translateY(-50%);
  }
}

// Ripples
@keyframes hvr-ripple-out {
  0% {
    opacity: 1;
  }
  100% {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 0;
  }
}
