
// Menu slide in
@-webkit-keyframes anim-slideIn {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes anim-slideIn {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes anim-colorBlend {
  0% {
    fill: $cAbernathy;
  }
  25% {
    fill: $cFord;
  }
  50% {
    fill: $cLowe;
  }
  75% {
    fill: $cDelos;
  }
}

@keyframes anim-colorBlend {
  0% {
    fill: $cAbernathy;
  }
  25% {
    fill: $cFord;
  }
  50% {
    fill: $cLowe;
  }
  75% {
    fill: $cDelos;
  }
}

// Icons pop
@-webkit-keyframes hvr-icon-pop {
  50% {
    transform: scale(1.25) translateY(-50%);
  }
}

@keyframes hvr-icon-pop {
  50% {
    transform: scale(1.25) translateY(-50%);
  }
}

// Ripples
@-webkit-keyframes hvr-ripple-out {
  0% {
    opacity: 1;
  }
  100% {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  0% {
    opacity: 1;
  }
  100% {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 0;
  }
}

@-webkit-keyframes hvr-ripple-circle {
  0% {
    opacity: 1;
    transform: scale(1) translateX(3px) translateY(3px);
  }
  50% {
    transform: scale(1.4) translateX(3px) translateY(3px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(3px) translateY(3px);
  }
}

@keyframes hvr-ripple-out-circle {
  0% {
    opacity: 1;
    transform: scale(1) translateX(3px) translateY(3px);
  }
  50% {
    transform: scale(1.4) translateX(3px) translateY(3px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(3px) translateY(3px);
  }
}
