html {
  font-size: $scaleRoot + px;
  @media (max-width: $vpDeviceSafe) {
    -webkit-text-size-adjust: 100%;
  }
}

body {
  color: $cText;
  font-family: $fontDefault;
  line-height: $lineheightBase;
  overflow-x: hidden;
  @include sharp-text;
  border: 8px solid $cFlood;
  @include respond-to($vpMenu) {
    padding-top: 8px;
    border-top: 0;
    border-bottom: 0;
    &:before {
      top: 0;
      position: fixed;
      width: 100%;
      background-color: $cFlood;
      content: "";
      display: block;
      height: 8px;
      left: 0;
      right: 0;
      z-index: 100;
    }
    &:after {
      bottom: -1px;
      position: sticky;
      width: 100%;
      background-color: $cFlood;
      content: "";
      display: block;
      height: 8px;
      left: 0;
      right: 0;
      z-index: 100;
    }
  }
}

a,
.fauxlink {
  text-decoration: underline;
  cursor: pointer;
  color: $cAction;
  @include link-active-styles {
    text-decoration-color: darken($cAction, 5%);
  }
}

// Overide iOS telephone styling on links
a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

// Max with utl class
.max_width {
  max-width: 100%;
  height: auto;
  display: block;
}

// Full width utl class
.full_width {
  width: 100%;
  height: auto;
  display: block;
}

// Further sensible resets
strong, b {
  font-weight: $fontMedium;
	@include sharp-text;
}

input, textarea, select, button {
  font-family: $fontDefault;
}
