
.folks {
  position: relative;
  padding: 16em 0 10em 0;
  overflow: hidden;
  background-color: $cStubbs;
  z-index: 4;
  margin-top: -6em;
  @include respond-to($vpMenu) {
    padding: 25em 0 14em 0;
    margin-top: -8em;
  }
  &_heading {
    color: $cFord;
    @extend .typeXXL;
    margin-bottom: 2em;
    text-align: center;
  }
  ul {
    display: grid;
    grid-gap: 45px 5%;
    grid-template-columns: repeat(2, 45%);
    @include respond-to($vpB) {
      grid-template-columns: repeat(3, 30%);
    }
    @include respond-to($vpMenu) {
      display: grid;
      grid-gap: 45px 5%;
      grid-template-columns: repeat(4, 21%);
    }
    li {
      display: block;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}
