
section.mhead {
  position: relative;
  background-color: #fff;
}

.masthead {
  position: relative;
  padding: 8em 0 11em 0;
  overflow: hidden;
  background-color: #fff;
  //background-image: linear-gradient(to bottom, $cSizemore 80%, transparent 100%);
  border-bottom: $strokeWidth solid $cBorder;
  @include shadowSubtle;
  @include respond-to($vpMenu) {
    padding: 6em 0 8em 0;
    border-bottom: 0;
    box-shadow: none;
  }
  @include respond-to-height(800px) {
    padding: 10% 0 10em 0;
  }
  &_profile {
    display: block;
    width: 280px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    border-radius: 6px;
    @include shadowSubtle;
    position: relative;
    z-index: 3;
  }
  &_profile__edge1,
  &_profile__edge2 {
    background-color: #fff;
    overflow: hidden;
    width: 140px;
    height: 140px;
    position: absolute;
    top: 70px;
    display: block;
    @include shadowSubtle;
    border-radius: 3px;
    z-index: 0;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
  }
  &_profile__edge1 {
    left: -6%;
    transform: translateX(0);
    opacity: 0;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: anim-pictureSlideL;
  }
  &_profile__edge2 {
    right: -6%;
    transform: translateX(0);
    opacity: 0;
    animation-name: anim-pictureSlideR;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: anim-pictureSlideR;
  }
  &_caption {
    max-width: 600px;
    text-align: center;
    position: relative;
    @extend .row;
  }
  &_heading {
    font-size: rem($typeMasthead);
    line-height: 1.2;
    letter-spacing: -0.025em;
    margin-bottom: 0.3em;
    @extend .heading;
  }
  p {
    font-family: $fontVoice;
    font-size: rem($typeMe);
  }
}
