{% set title = 'Peter Coles. Designer' %}
{% set section = 'home' %}
{% extends 'layouts/default.html' %}

{% block precontent %}
{% endblock %}

{% block content %}
<section>
  <div class="masthead">
    <div class="masthead_caption">
      <div class="masthead_profile__edge1" style="background-image: url(/assets/img/meface1.png);"></div>
      <div class="masthead_profile__edge2" style="background-image: url(/assets/img/meface2.png);"></div>
      <img class="masthead_profile" src="/assets/img/myface.jpg" alt="A picture of Pete's face/">
      <h1 class="masthead_heading">Hi, I'm Pete.</h1>
      <p>A designer, front&ndash;end developer &amp; co&ndash;founder of design agency fffunction. I am currently design director at <a href="http://dotscience.com">dotscience</a>.</p>
    </div>
  </div>
</section>
<section class="highlights">
  <article>
    <header>
      <h2 class="highlights_title">Featured projects</h2>
      <p>A few projects from the last couple of years that I'm proud to have worked on.</p>
    </header>
    <main>
      <ol>
        <li>
          <a href="">
            <div class="highlight_caption">
              <h3 class="highlight_title">dotscience &amp; dotmesh</h3>
              <span>Branding and building a startup in the world of big data.</span>
            </div>
          </a>
        </li>
        <li>
          <a href="">
            <div class="highlight_caption">
              <h3 class="highlight_title">Destination space</h3>
              <span>Tracking astonaut Tim Peake's mission to the ISS.</span>
            </div>
          </a>
        </li>
        <li>
          <a href="">
            <div class="highlight_caption">
              <h3 class="highlight_title">Skinner's Brewery</h3>
              <span>Raise a jar to Cornwall's award winning brewery.</span>
            </div>
          </a>
        </li>
      </ol>
    </main>
  </article>
</section>
{% endblock %}

{% block postcontent %}
{% endblock %}

{% block script %}
{% endblock %}
