{% set title = 'Peter Coles. Designer' %}
{% set section = 'home' %}
{% extends 'layouts/default.html' %}

{% block precontent %}
{% endblock %}

{% block content %}
<section class="mhead">
  <div class="masthead">
    <div class="masthead_caption">
      <div class="masthead_profile__edge1" style="background-image: url(/assets/img/meface1.png);"></div>
      <div class="masthead_profile__edge2" style="background-image: url(/assets/img/meface2.png);"></div>
      <img class="masthead_profile" src="/assets/img/myface.jpg" alt="A picture of Pete's face/">
      <h1 class="masthead_heading">Hi, I'm Pete.</h1>
      <p>A designer, front&ndash;end developer &amp; co&ndash;founder of design agency fffunction. I am currently design director <nobr>at <a href="http://dotscience.com">dotscience</a>.</nobr></p>
    </div>
  </div>
</section>
<section class="highlights">
  <article>
    <header>
      <h2 class="highlights_title">Featured projects</h2>
      <p>A few highlights from the last couple of years that I'm proud to have had the pleasure of <nobr>working on.</nobr></p>
    </header>
    <main>
      <ol>
        <li>
          <a href="">
            <div class="highlight_caption">
              <h3 class="highlight_title">dotscience &amp; dotmesh</h3>
              <span>Branding and building a startup in the world of <nobr>big data.</nobr></span>
            </div>
            <div class="highlight_reel">
              <img src="/assets/img/wk_dm_tees2.jpg" alt="Dotmesh T-shirts"/>
              <img src="/assets/img/wk_dm_orb.jpg" alt="Dotmesh Orb Illustration"/>
            </div>
          </a>
        </li>
        <li>
          <a href="">
            <div class="highlight_caption">
              <h3 class="highlight_title">Destination space</h3>
              <span>Tracking astronaut Tim Peake's mission to <nobr>the ISS.</nobr></span>
            </div>
            <div class="highlight_reel">
              <img src="/assets/img/wk_ds_ast1.jpg" alt="Kids playing with electric orb"/>
              <img src="/assets/img/wk_ds_peak.jpg" alt="Tim peak in space suit"/>
            </div>
          </a>
        </li>
        <li>
          <a href="">
            <div class="highlight_caption">
              <h3 class="highlight_title">Skinner's Brewery</h3>
              <span>Raise a jar to Cornwall's award <nobr>winning brewery.</nobr></span>
            </div>
            <div class="highlight_reel">
              <img src="/assets/img/wk_skinners_beer.jpg" alt="Skinner's beer and menu"/>
              <img src="/assets/img/wk_skinners_bar.jpg" alt="Skinner's bar pumps"/>
            </div>
          </a>
        </li>
      </ol>
    </main>
  </article>
</section>
<section class="folks">
  <div class="row">
    <h2 class="folks_heading">Folks i've <nobr>worked with</nobr></h2>
    <ul>
      <li><img src="/assets/img/logo_phe.jpg" alt="Public Health England logo"/></li>
      <li><img src="/assets/img/logo_rac.jpg" alt="RAC logo"/></li>
      <li><img src="/assets/img/logo_nhs.jpg" alt="NHS logo"/></li>
      <li><img src="/assets/img/logo_uog.jpg" alt="University of Georgia logo"/></li>
      <li><img src="/assets/img/logo_usa.jpg" alt="UK Space Agency logo"/></li>
      <li><img src="/assets/img/logo_roland.jpg" alt="Roland logo"/></li>
      <li><img src="/assets/img/logo_bbc.jpg" alt="BBC logo"/></li>
      <li><img src="/assets/img/logo_ddn.jpg" alt="DDN logo"/></li>
    </ul>
  </div>
</section>
{% endblock %}

{% block postcontent %}
{% endblock %}

{% block script %}
{% endblock %}
